<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0">
        <Configuration>
          <Format>Xml</Format>
          <ExcludeByFile>
            <ExcludeByFile>**/*Migrations/*.cs</ExcludeByFile>
          </ExcludeByFile>
          <Exclude>
            <ModulePath>.*ccDiaryApiTest\.dll</ModulePath>
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
