<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0">
        <Configuration>
          <Format>Xml</Format>
          <ExcludeByFile>
            <ExcludeByFile>**/*Migrations/*.cs</ExcludeByFile>
          </ExcludeByFile>
          <Exclude>
            <ModulePath>.*ccDiaryApiTest.*</ModulePath>
            <ModulePath>.*coverlet\..*</ModulePath>
            <ModulePath>.*[Ss]erilog.*</ModulePath>
            <ModulePath>.*Microsoft\..*</ModulePath>
            <ModulePath>.*System\..*</ModulePath>
            <ModulePath>.*testhost.*</ModulePath>
          </Exclude>
        </Configuration>
      </DataCollector>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByFile>**/*Migrations/*.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
